pyyaml
torch>=1.11
torchvision>=0.12
numpy
matplotlib
brewer2mpl
opencv-python
opencv-contrib-python
tensorboard
omegaconf
tqdm
future  # tensorboard dependency
kornia>=0.6
cython
shapely
scikit-image
h5py
flow_vis
jupyter
seaborn

./third_party/pytlsd
